html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: white;
  margin: auto;
  font-size: 14px;
  line-height: 1.5em;
}
.center_everything {
  display: flex;
  justify-content: center;
  align-items: center;
}
.changement-couleur {
  color: white;
  transition: color 200ms ease-in-out;
}
.changement-couleur:hover {
  color: #ff6161;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3.9fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "main main"
    "audio-control audio-control";
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 0.1fr 1.9fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navbar playlist"
    "navbar playlist";
  grid-area: main;
}

.navbar {
  grid-area: navbar;
  background-color: red;
}

.playlist {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1.1fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "playlist-name"
    "playlist-list"
    "playlist-empty-space";
  grid-area: playlist;
}

.playlist-name {
  grid-area: playlist-name;
  background-color: violet;
}

.playlist-list {
  grid-area: playlist-list;
  background-color: pink;
}

.playlist-empty-space {
  grid-area: playlist-empty-space;
  background-color: yellow;
}

.audio-control {
  grid-area: audio-control;
  background-color: blue;
}
