html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: white;
  margin: auto;
  font-size: 14px;
  line-height: 1.5em;
}
.center_everything {
  display: flex;
  justify-content: center;
  align-items: center;
}
.changement-couleur {
  color: white;
  transition: color 200ms ease-in-out;
}
.changement-couleur:hover {
  color: #ff6161;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3.9fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "main main"
    "audio-control audio-control";
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 0.2fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navbar playlist"
    "navbar playlist";
  grid-area: main;
}

.navbar {
  grid-area: navbar;
  background-color: red;
}

.playlist {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1.1fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "playlist-name"
    "playlist-list"
    "playlist-empty-space";
  grid-area: playlist;
}

.playlist-name {
  grid-area: playlist-name;
  background-color: violet;
}

.playlist-list {
  grid-area: playlist-list;
  background-color: pink;
}

.playlist-empty-space {
  grid-area: playlist-empty-space;
  background-color: yellow;
}

.audio-control {
  grid-area: audio-control;
  background-color: blue;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  font-size: 25px;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 500px) {
  .main {
    display: grid;
    grid-template-columns: 0.15fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar playlist"
      "navbar playlist";
    grid-area: main;
  }
  .navbar a {
    font-size: 28px;
    color: white;
    text-decoration: none;
  }
}

@media screen and (min-width: 800px) {
  .main {
    display: grid;
    grid-template-columns: 0.12fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar playlist"
      "navbar playlist";
    grid-area: main;
  }
  .navbar a {
    font-size: 31px;
    color: white;
    text-decoration: none;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: 0.1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar playlist"
      "navbar playlist";
    grid-area: main;
  }
  .navbar a {
    font-size: 34px;
    color: white;
    text-decoration: none;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    display: grid;
    grid-template-columns: 0.08fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar playlist"
      "navbar playlist";
    grid-area: main;
  }
  .navbar a {
    font-size: 38px;
    color: white;
    text-decoration: none;
  }
}

@media screen and (min-width: 1750px) {
  .main {
    display: grid;
    grid-template-columns: 0.07fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar playlist"
      "navbar playlist";
    grid-area: main;
  }
  .navbar a {
    font-size: 40px;
    color: white;
    text-decoration: none;
  }
}

@media screen and (min-width: 2000px) {
  .main {
    display: grid;
    grid-template-columns: 0.07fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar playlist"
      "navbar playlist";
    grid-area: main;
  }
  .navbar a {
    font-size: 45px;
    color: white;
    text-decoration: none;
  }
}
